// theme colors
$bg-color: #FFFFFF;
$primary-color: #6699CC;
$secondary-color: #FFFFFF;
$accent-color: #FFFFFF;

//breakpoints
$sm-size: 400px;
$sm-med: 600px;
$med-lg: 960px;
$lg-size: 1080px;

@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
}

@mixin paddding-control($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style; 
}

html {
  @include box-style(border-box); 
}

*, *:before, *:after {
  @include box-style(inherit)
}

body {
  margin: 0;
  background-color: $bg-color;
  font-family: sans-serif;

  a {
    text-decoration: none;
  }
}

div {
  // border: 1px solid black;
}

#navbar {
  @include flex-style(row nowrap, space-around);
  background-color: $primary-color;
  width: 100%;
  position: fixed;
  padding-top: 5px;

  span {
    @include flex-style(row nowrap, space-around);

    a {
      margin: 10px;
      color: $secondary-color;
      font-size: 15px;
    }
  }
}

// #masthead {
//   background-color: blue;
//   width: 100%;
//   height: 350px;
// }

#page-header {
  text-align: center;
  font-size: 75px;
}

#page-wrapper {
  @include flex-style(row wrap, space-around);
  padding-top: 50px;
  max-width: 95%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;

}

.header {
  background-color: $primary-color;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}

#special {
  font-size: 40px;
}

.sub-header {
  @include flex-style(row nowrap, flex-start);
  @include paddding-control(5px, 0px, 5px, 5px);
  border-top: 1px solid black;
  font-size: 20px;
}

.special {
  background-color: $primary-color;
}

.main-details {
  @include flex-style(row wrap, flex-start);
  @include paddding-control(5px, 0px, 5px, 5px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  div {
    padding: 5px;
  }

  input {
    width: 250px;
    height: 25px;
    font-size: 15px;
    margin-right: 5px;
    padding: 5px;
  }

  .new {
    width: 100%;
  
    textarea {
      min-width: 90%;
      max-width: 97%;
      height: 75px;
      margin: 0 auto;
      font-size: 15px;
      padding: 5px;
    }

    button {
      font-size: 20px;
    }
  }
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
}

.title {
  width: 40%
}

.edit {
  width: 10%;
}

.author, .date {
  width: 25%;
}

.message-body {
  width: inherit;
  padding: 10px;
}

.username, .createdAt, .role {
  width: 50%;
}

.user-auth {
  @include flex-style(row wrap, center);
  width: 300px;
  border: 1px solid black;

  div {
    width: 100%;
    text-align: center;
  }

  .login-details {
    margin: 15px auto;

    input {
      width: 75%;
      height: 25px;
      font-size: 20px;
    }    
  }
}

/* SPECIAL CLASSES */
.text-center {
  text-align: center;
}