
<div class="content">
  <h1>{{ topic.title }}</h1>
  {{ topic.createdAt | date : 'shortDate' }}
  <br><br> <a ng-href="/users/{{ topic.createdBy }}">{{ topic.createdBy }}</a>
  <br><br>
  <div>  
    <li ng-repeat="message in messages">
      {{ message.body }}
      by: <a ng-href="/users/{{ message.user.username }}">{{ message.user.username }}</a>
    </li>
  </div>

  <h2>Write your message here</h2>
  <textarea ng-model="newMessage.body" placeholder="Input text here"></textarea>
  <br>
  <button ng-click="createMessage()">Post Message</button>  
</div>
