<div class="content">
  <div class="header">
    {{ topic.title }}
  </div>

  <div class="sub-header">
    <div class="author">Created By</div>    
    <div class="date">Date</div>
  </div>

  <div class="main-details">
    <div class="author">
      <a ng-href="/users/{{ topic.createdBy }}">{{ topic.createdBy }}</a>
    </div>
    <div class="date">
      {{ topic.createdAt | date : 'shortDate' }}
    </div>
  </div>

  <div class="header">
    Messages
  </div>

  <div class="sub-header">
    <div class="author">Created By</div>    
    <div class="date">Date</div>
  </div>


  <div ng-repeat="message in messages">
  
    <div class="main-details">
      <div class="author">
        <a ng-href="/users/{{ message.user.username }}">{{ message.user.username }}</a>
      </div>
      <div class="date">
        {{ message.createdAt | date : 'short' }}
      </div>
    </div>

    <div class="message-body">
      {{ message.body }}
    </div>

  </div>

</div>

<div class="content" ng-if="isUserLoggedIn()">
  <div class="header">
   New Message
  </div>

  <div class="main-details">
    <div class="new">
      <textarea ng-model="newMessage.body" placeholder="Write your message here"></textarea>
      <div>
        <button ng-click="createMessage()">Post</button>
        <button ng-click="newMessage.body=''">Clear</button>
      </div>      
    </div>
  </div>
</div>
