html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: sans-serif; }
  body a {
    text-decoration: none; }

#navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #6699CC;
  width: 100%;
  position: fixed;
  padding-top: 5px; }
  #navbar span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    #navbar span a {
      margin: 10px;
      color: #FFFFFF;
      font-size: 15px; }

#page-wrapper {
  padding-top: 50px; }

#main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 95%;
  margin: 0 auto; }

.content {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black; }

.header {
  background-color: #6699CC;
  padding: 5px;
  font-size: 25px;
  font-weight: bold; }

#special {
  font-size: 40px; }

.sub-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 5px 0px 5px 5px;
  border-top: 1px solid black;
  font-size: 20px; }

.special {
  background-color: #6699CC; }

.main-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5px 0px 5px 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .main-details input {
    width: 250px;
    height: 25px;
    font-size: 15px;
    margin-right: 5px;
    padding: 5px; }
  .main-details .new {
    width: 100%; }
    .main-details .new textarea {
      min-width: 90%;
      max-width: 97%;
      height: 75px;
      margin: 0 auto;
      font-size: 15px;
      padding: 5px; }
    .main-details .new button {
      font-size: 20px; }

.wrapper {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black; }

.title {
  width: 40%; }

.edit {
  width: 10%; }

.author, .date {
  width: 25%; }

.message-body {
  width: inherit;
  padding: 10px; }

.username, .createdAt, .role {
  width: 50%; }
